<%= render  partial: "navbar" %>
<h1 class="heading ">Movie Search History</h1>
<div class="container">
	<% @movies.each do |movie| %>
	<div class="row">
		<div class="col-xs-3 contain-poster">
			<div class="poster_div"><img src="<%= movie[:poster]=='N/A' ? 'http://static2.wikia.nocookie.net/__cb20090329133961/superfriends/images/a/a5/No_Photo_Available.jpg' : movie[:poster] %>" class="poster"/>
			</div>
		</div>
		<div class="col-xs-7">
			<h3 class="movie-title"><%= link_to "#{movie[:title]} (#{movie[:year]})", "/movie/#{movie[:imdbID]}", class: 'movie-title' %></h3>
			<p class="plot"><%= movie[:plot] %></p>
		</div>
		<%= button_to "Remove Movie", "/movie/#{movie[:imdbID]}", method: :delete %>
	</div>
	<br />
	<% end %>
</div>

<a href="/" class="btn btn-primary new-search-button">New Search</a>
